<!--<ion-button class="hello" size="large" fill="outline">Hello Word</ion-button>

<ion-datetime></ion-datetime>

<ion-select id="fruits" placeholder="Minha Fruta" interface="action-sheet">
  <ion-select-option>Maça</ion-select-option>
  <ion-select-option>Banana</ion-select-option>
  <ion-select-option>Morango</ion-select-option>
</ion-select>-->

<ion-accordion-group class="accordion">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>First Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      First Accordion
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Second Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Second Accordion
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Third Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Third Accordion
    </div>
  </ion-accordion>
</ion-accordion-group>